@import 'common/scss/colors';
@import 'top-navigation/nav-button/nav-button';
@import 'top-navigation/nav-icon/nav-icon';
@import 'widgets/weather/weather';
@import 'widgets/stat/stat';


body {
    background-color: $bg-color-main;
}

.fixed-header-table {
    height: 700px;
    overflow-y: auto;
}

.fixed-header-table::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
}

.fixed-header-table::-webkit-scrollbar-track {
    background-color: #24263A;
    border-radius: 10px;
}

.fixed-header-table::-webkit-scrollbar-thumb {
    background-color: #C09A6C;
    border-radius: 10px;
}

.fixed-header-table thead {
    position: sticky;
    top: 0;
    background-color: #24263A;
}

.add-btn {
    position: absolute;
    bottom: 50px;
    right: 70px;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}