.nav-button {
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  text-decoration: none;
}
.nav-button_icon {
  color: #F2A45F;
}
.nav-button_text {
  color: #FFFFFF;
}
.nav-button:active, .nav-button:hover, .nav-button__active {
  background-color: #4C9EED;
}
.nav-button:active .nav-button_icon, .nav-button:hover .nav-button_icon, .nav-button__active .nav-button_icon {
  color: #14142B;
}
.nav-button:active .nav-button_text, .nav-button:hover .nav-button_text, .nav-button__active .nav-button_text {
  color: #14142B;
}

.nav-icon {
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  text-decoration: none;
}
.nav-icon_icon {
  color: #F2A45F;
}
.nav-icon:active, .nav-icon:hover, .nav-icon__active {
  background-color: #4C9EED;
}
.nav-icon:active .nav-icon_icon, .nav-icon:hover .nav-icon_icon, .nav-icon__active .nav-icon_icon {
  color: #14142B;
}

.weather {
  border-radius: 20px;
  background-color: #24263A;
}

.stat {
  border-radius: 20px;
  background-color: #24263A;
}
.stat_count__total {
  color: #D3434D;
}
.stat_count__active {
  color: #F2A45F;
}
.stat_count__finished {
  color: #8FCFC1;
}

body {
  background-color: #101122;
}

.fixed-header-table {
  height: 700px;
  overflow-y: auto;
}

.fixed-header-table::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

.fixed-header-table::-webkit-scrollbar-track {
  background-color: #24263A;
  border-radius: 10px;
}

.fixed-header-table::-webkit-scrollbar-thumb {
  background-color: #C09A6C;
  border-radius: 10px;
}

.fixed-header-table thead {
  position: sticky;
  top: 0;
  background-color: #24263A;
}

.add-btn {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}
