@import '../../common/scss/colors';

.nav-icon {
    cursor: pointer;
    border-radius: 8px;
    background-color: $bg-color-passive;
    text-decoration: none;

    &_icon {
        color: $icon-color-passive;
    }

    &:active,
    &:hover,
    &__active {
        background-color: $bg-color-active;

        .nav-icon_icon {
            color: $icon-color-active;
        }
    }
}