.nav-icon {
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  text-decoration: none;
}
.nav-icon_icon {
  color: #F2A45F;
}
.nav-icon:active, .nav-icon:hover, .nav-icon__active {
  background-color: #4C9EED;
}
.nav-icon:active .nav-icon_icon, .nav-icon:hover .nav-icon_icon, .nav-icon__active .nav-icon_icon {
  color: #14142B;
}
