@import '../../common/scss/colors';

.stat {
    border-radius: 20px;
    background-color: $bg-color-main__light;

    &_count {
        &__total {
            color: $text-color-danger;
        }

        &__active {
            color: $text-color-warning;
        }

        &__finished {
            color: $text-color-info;
        }
    }
}