$bg-color-main: #101122;
$bg-color-main__light: #24263A;

$bg-color-active: #4C9EED;
$bg-color-passive: transparent;
$text-color-active: #14142B;
$text-color-passive: #FFFFFF;
$icon-color-active: #14142B;
$icon-color-passive: #F2A45F;

$text-color-danger: #D3434D;
$text-color-warning: #F2A45F;
$text-color-info: #8FCFC1;